.basic-input {
    width: 152px;
    height: 48px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #9F9F9F;
}

.basic-input:focus {
    color: #000000;
}

/* Checkbox */

.custom-input-checkbox {
    width: 30px;
    height: 30px;
}

.custom-checkbox-container {
    display: flex;
    align-items: center;
    margin-left: 18px;
    gap: 19px
}