.type-mode {
    flex-direction: column;
    margin: 43px 306px 94px;
    padding: 69px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#type-title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 29px;
}

#type-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.type-checkbox-variation {
    background-color: #181616;
    display: flex;
    width: 530px;
    height: 65px;
    margin-bottom: 29px;
    border-radius: 10px;
    align-items: center;
    gap: 18px;
    font-size: 32px;
    color: #FFFFFF;
}

.type-checkbox-variation > input[type="radio"] {
    appearance: none;
    background-color: #FFFFFF;
    outline: 2px solid #333;
    border: 3px solid #FFFFFF;
    width: 30px;
    height: 30px;
    margin-left: 18px;
}

.type-checkbox-variation > input[type="radio"]:checked {
    background-color: #3994FF;
}