.model-mode {
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    padding: 69px 0px;
    border-radius: 10px;
}

.table {
    background-color: #2E2D2D;
    border-collapse: collapse;
    width: 621px;
    margin-left: 97px;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 24px;
}

.table td,.table th {
    border: 1px solid #FFFFFF;
    height: 56px;
    vertical-align: middle;
}

.color-square {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

#model-title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

#production-title {
    font-size: 48px;
    font-weight: bold;
    margin-left: 97px;
}

#model {
    /* display: grid;
    grid-template-rows: repeat(auto-fill, 100px);
    grid-template-columns: repeat(auto-fill, 100px);
    grid-auto-flow: column;
    column-gap: 9px; */
    display: flex;
    flex-flow: column wrap;
    column-gap: 10px;
    background-color: #2AAF74;
    width: 1000px;
    height: 505px;
    margin-left: 97px;
    padding: 27px 55px;
    border-radius: 10px;
}

.productive-unit {
    aspect-ratio: 1 / 1;
    background-color: #E19955;
    border: 1px solid #000000;
}