@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background-color: #2E2D2D;
  font-family: Inter;
  min-height: 100vh;
}

.body {
  display: flex;
  background-color: white;
  margin: 100%;
}